/* CSS files add styling rules to your content */

body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
  }
  
  h1 {
    font-style: bold;
    color: black;
    font-family: 'Oxygen', sans-serif;
    text-align: left;
    font-size: 30px;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #efefef;
  }
  
  .navbar a {
    float: right;
    font-size: 30px;
    color: #a9a9a9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Crimson Text', serif;
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 30px;  
    border: none;
    outline: none;
    color: #a9a9a9;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Crimson Text', serif;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #dedede;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
  }
  
  @keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.page {
  background-color: white;
}

.title {
  text-align:center;
  font-size: 36px;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 800px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #cdcdcd;
  color: black;
  text-align: center;
}
  